<mat-card class="shadow-lg">
	<div class="row">
		<div class="col-md-6 text-center">
			<img mat-card-image class="mt-2" src="../../../assets/placeholder-image.png" alt="customer.firstName">
			<mat-card-title>{{ customer.firstName }} {{ customer.lastName }}</mat-card-title>
			<mat-card-subtitle>
				{{ customer.address }}
				<br>
				{{ customer.city }}, {{ customer.state }}
			</mat-card-subtitle>
		</div>
		<div class="col-md-6">
			<mat-card-title>Edit Customer</mat-card-title>
			<form #f="ngForm" class="form" (ngSubmit)="f.form.valid && updateCustomer(f.value)" novalidate>
				<input type="hidden" [(ngModel)]="customer.id" name="id">

				<div class="row">
					<div class="col-md-6 col-sm-6">
						<mat-form-field appearance="fill" class="form-group">
							<mat-label>First Name</mat-label>
							<input matInput
							type="text" 
							[(ngModel)]="customer.firstName" 
							name="firstName" 
							#firstName="ngModel"
							[ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }"
							required>
							<mat-error *ngIf="f.submitted && firstName.invalid" class="invalid-feedback">
								<div *ngIf="firstName.errors.required">First name is required</div>
							</mat-error>
						</mat-form-field>
					</div>
					<div class="col-md-6 col-sm-6">
						<mat-form-field appearance="fill" class="form-group">
							<mat-label>Last Name</mat-label>
							<input matInput
							type="text" 
							[(ngModel)]="customer.lastName" 
							name="lastName" 
							#lastName="ngModel" 
							[ngClass]="{ 'is-invalid': f.submitted && lastName.invalid }"
							required>
							<mat-error *ngIf="f.submitted && lastName.invalid" class="invalid-feedback">
								<div *ngIf="lastName.errors.required">Last name is required</div>
							</mat-error>
						</mat-form-field>
					</div>
				</div>

				<mat-form-field appearance="fill">
					<mat-label>Date Of Birth</mat-label>
					<input matInput [ngModel]="customer.dateOfBirth | date: 'yyyy-MM-dd'"
					(ngModelChange)="customer.dateOfBirth = $event" 
					[max]="maxDate" 
					#dateOfBirth="ngModel" 
					name="dateOfBirth" 
					[matDatepicker]="myDatePicker"
					[ngClass]="{ 'is-invalid': f.submitted && address.invalid }" 
					required>
					<mat-datepicker-toggle [for]="myDatePicker" matSuffix></mat-datepicker-toggle>
					<mat-datepicker #myDatePicker></mat-datepicker>
					<mat-error *ngIf="f.submitted && dateOfBirth.invalid" class="invalid-feedback">
						<div *ngIf="dateOfBirth.errors.required">Date of birth is required</div>
					</mat-error>
				</mat-form-field>

				<mat-form-field appearance="fill" class="form-group">
					<mat-label for="address">Address</mat-label>
					<input matInput
					type="text" 
					#address="ngModel"
					name="address"
					[ngClass]="{ 'is-invalid': f.submitted && address.invalid }"
					[(ngModel)]="customer.address"
					required>
					<mat-error *ngIf="f.submitted && address.invalid" class="invalid-feedback">
						<div *ngIf="address.errors.required">Address is required</div>
					</mat-error>
				</mat-form-field>

				<div class="row">
					<div class="col-md-6 col-sm-6">
						<mat-form-field appearance="fill" class="form-group">
							<mat-label>City</mat-label>
							<input matInput
							type="text" 
							[(ngModel)]="customer.city" 
							name="city" 
							#city="ngModel"
							[ngClass]="{ 'is-invalid': f.submitted && city.invalid }"
							required>
							<mat-error *ngIf="f.submitted && city.invalid" class="invalid-feedback">
								<div *ngIf="city.errors.required">City is required</div>
							</mat-error>
						</mat-form-field>
					</div>
					<div class="col-md-6 col-sm-6">
						<mat-form-field appearance="fill" class="form-group">
							<mat-label>State</mat-label>
							<input matInput
							type="text" 
							[(ngModel)]="customer.state" 
							name="state" 
							#state="ngModel" 
							[ngClass]="{ 'is-invalid': f.submitted && state.invalid }"
							required>
							<mat-error *ngIf="f.submitted && state.invalid" class="invalid-feedback">
								<div *ngIf="state.errors.required">State is required</div>
							</mat-error>
						</mat-form-field>
					</div>
				</div>
				
				<button type="submit" color="primary" mat-raised-button class="form-control">Update</button>
			</form>
		</div>
	</div>
</mat-card>