<div class="row">
	<div class="col-lg-6 m-auto">
		<mat-card class="shadow-lg">
			<mat-card-title class="text-center">Add Customer</mat-card-title>
			<hr>
			
			<form #f="ngForm" name="form" (ngSubmit)="f.form.valid && addCustomer(f.value)" novalidate>
				<input type="hidden" name="id" [(ngModel)]="id">

				<div class="row">
					<div class="col-md-6 col-sm-6">
						<mat-form-field>
							<input type="text" matInput placeholder="First Name"
							#firstName="ngModel" 
							name="firstName" 
							[ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }"
							ngModel 
							required>
							<mat-error *ngIf="f.submitted && firstName.invalid" class="invalid-feedback">
								<div *ngIf="firstName.errors.required">First name is required</div>
							</mat-error>
						</mat-form-field>
					</div>
					<div class="col-md-6 col-sm-6">
						<mat-form-field>
							<input type="text" matInput placeholder="Last Name"
							#lastName="ngModel"
							name="lastName" 
							[ngClass]="{ 'is-invalid': f.submitted && lastName.invalid }"
							ngModel 
							required>
							<mat-error *ngIf="f.submitted && lastName.invalid" class="invalid-feedback">
								<div *ngIf="lastName.errors.required">Last name is required</div>
							</mat-error>
						</mat-form-field>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<mat-form-field>
							<input matInput ngModel placeholder="DOB (MM/dd/yyyy)"
							[max]="maxDate" 
							#dateOfBirth="ngModel" 
							name="dateOfBirth" 
							[matDatepicker]="myDatePicker"
							[ngClass]="{ 'is-invalid': f.submitted && address.invalid }" 
							required>
							<mat-datepicker-toggle [for]="myDatePicker" matSuffix></mat-datepicker-toggle>
							<mat-datepicker #myDatePicker></mat-datepicker>
							<mat-error *ngIf="f.submitted && dateOfBirth.invalid" class="invalid-feedback">
								<div *ngIf="dateOfBirth.errors.required">Date of birth is required</div>
							</mat-error>
						</mat-form-field>
					</div>
					<div class="col-md-6 col-sm-6">
						<mat-form-field>
							<mat-select ngModel placeholder="Gender"
							name="gender" 
							#gender="ngModel" 
							[ngClass]="{ 'is-invalid': f.submitted && city.invalid }"
							required>
								<mat-option value="Male">Male</mat-option>
								<mat-option value="Female">Female</mat-option>
							</mat-select>
							<mat-error *ngIf="f.submitted && gender.invalid" class="invalid-feedback">
								<div *ngIf="gender.errors.required">Date of birth is required</div>
							</mat-error>
						</mat-form-field>
					</div>
				</div>
				
				
				<mat-form-field>
					<input matInput placeholder="Address"
					type="text" 
					#address="ngModel"
					name="address"
					[ngClass]="{ 'is-invalid': f.submitted && address.invalid }" 
					ngModel 
					required>
					<mat-error *ngIf="f.submitted && address.invalid" class="invalid-feedback">
						<div *ngIf="address.errors.required">Address is required</div>
					</mat-error>
				</mat-form-field>

				<div class="row">
					<div class="col-md-6 col-sm-6">
						<mat-form-field>
							<input matInput placeholder="City"
							type="text" 
							#city="ngModel" 
							name="city" 
							[ngClass]="{ 'is-invalid': f.submitted && city.invalid }"
							ngModel 
							required>
							<mat-error *ngIf="f.submitted && city.invalid" class="invalid-feedback">
								<div *ngIf="city.errors.required">City is required</div>
							</mat-error>
						</mat-form-field>
					</div>
					<div class="col-md-6 col-sm-6">
						<mat-form-field>
							<input matInput placeholder="State"
							type="text" 
							#state="ngModel" 
							name="state" 
							[ngClass]="{ 'is-invalid': f.submitted && state.invalid }"
							ngModel 
							required>
							<mat-error *ngIf="f.submitted && state.invalid" class="invalid-feedback">
								<div *ngIf="state.errors.required">State is required</div>
							</mat-error>
						</mat-form-field>
					</div>
				</div>

				<button type="submit" mat-raised-button color="primary" class="form-control">Create</button>

			</form>
		</mat-card>
	</div>
</div>