<div class="row">
	<div class="col-lg-12 mb-3 create-new-button">
		<button mat-raised-button class="float-right" [routerLink]="['/customer/new']">+ Add New Customer</button>
	</div>
	<div class="col-lg-12">

		<!-- dialog -->
		<!-- <div mat-dialog-content *ngIf="delete">
			<p class="warning">Are you sure? It cannot be reversed.</p>
			<div mat-dialog-actions>
				<button mat-raised-button (click)="onNoClick()">No</button>
				<button type="submit" mat-raised-button color="warn" (click)="deleteCustomer(element.id)">Delete</button>
			</div>
		</div> -->

		<!-- <table class="table table-striped border mt-3">
			<thead>
				<tr>
					<th scope="col">First Name</th>
					<th scope="col">Last Name</th>
					<th scope="col">Address</th>
					<th scope="col">City</th>
					<th scope="col">State</th>
					<th scope="col">Edit</th>
					<th scope="col">Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let customer of customer">
					<td><a [routerLink]="['/customer/edit', customer.id]">{{ customer.firstName }}</a></td>
					<td>{{ customer.lastName }}</td>
					<td>{{ customer.address }}</td>
					<td>{{ customer.city }}</td>
					<td>{{ customer.state }}</td>
					<td><a class="" mat-raised-button color="accent" [routerLink]="['/customer/edit', customer.id]">Edit</a></td>
					<td><button class="" mat-raised-button color="warn" (click)="deleteCustomer(customer.id)">Delete</button></td>
				</tr>
			</tbody>
		</table> -->

		<div class="mat-elevation-z8">

			<mat-table [dataSource]="customer" matSort>
			
				<!-- First Name Column -->
				<ng-container matColumnDef="firstName">
					<mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
					<mat-cell *matCellDef="let element"> 
						<a [routerLink]="['/customer/edit', element.id]">{{ element.firstName }}</a> 
					</mat-cell>
				</ng-container>
				
				<!-- Last Name Column -->
				<ng-container matColumnDef="lastName">
					<mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
				</ng-container>

				<!-- Last Name Column -->
				<ng-container class="mat-column-address" matColumnDef="dateOfBirth">
					<mat-header-cell *matHeaderCellDef mat-sort-header> DOB </mat-header-cell>
					<mat-cell *matCellDef="let element"> {{ element.dateOfBirth | date:'MM/dd/yyyy' }} </mat-cell>
				</ng-container>
				
				<!-- Address Column -->
				<ng-container matColumnDef="address">
					<mat-header-cell *matHeaderCellDef mat-sort-header> Address </mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.address}} </mat-cell>
				</ng-container>
				
				<!-- City Column -->
				<ng-container matColumnDef="city">
					<mat-header-cell *matHeaderCellDef mat-sort-header> City </mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.city}} </mat-cell>
				</ng-container>
				
				<!-- State Column -->
				<ng-container matColumnDef="state">
					<mat-header-cell *matHeaderCellDef mat-sort-header> State </mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.state}} </mat-cell>
				</ng-container>
			
				<!-- Edit Column -->
				<ng-container matColumnDef="edit">
					<mat-header-cell *matHeaderCellDef> Edit </mat-header-cell>
					<mat-cell *matCellDef="let element"> 
						<a class="" mat-raised-button color="accent" [routerLink]="['/customer/edit', element.id]">Edit</a> 
					</mat-cell>
				</ng-container>
				
				<!-- Delete Column -->
				<ng-container matColumnDef="delete">
					<mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
					<mat-cell *matCellDef="let element"> 
						<button class="" mat-raised-button color="warn" (click)="onDelete(element.id)">Delete</button> 
					</mat-cell>
				</ng-container>

				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
				<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
			
			</mat-table>
			<!-- <mat-paginator [pageSize]="5" [length]="length" [pageSizeOptions]="[5, 10, 20, 50 ,100]" showFirstLastButtons></mat-paginator> -->
			
		</div>
	</div>
</div>